{% extends 'base.html' %} {% block content %}
<main class="col-md-12">
  <div
    class="
      d-flex
      justify-content-between
      flex-wrap flex-md-nowrap
      align-items-center
      pt-3
      pb-2
      mb-3
      border-bottom
    "
  >
    <h1 class="h2">Upload</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group me-2"></div>
    </div>
  </div>
  <h2 class="my-4">Upload X-ray image</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %} {{form.as_p}}
    <button class="btn btn-dark my-4" type="submit" id="ajax-call">Submit</button>
  </form>

  {% if img_obj %}
    <h3>Succesfully uploaded : {{img_obj.title}}</h3>
    <img src="{{ img_obj.image.url}}" alt="connect" style="max-height:100px">
  {% endif %}
  <hr />
  <h2>Results</h2>
  {% if result %}
    <p> {{result}} </p>
  {% endif %}
  <div class="table-responsive">
    <table class="table table-striped table-sm" id="table-results">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Image</th>
          <th scope="col">Timestamp</th>
          <th scope="col">Predict</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1,001</td>
          <td>random</td>
          <td>data</td>
          <td>placeholder</td>
        </tr>
        <tr>
          <td>1,002</td>
          <td>placeholder</td>
          <td>irrelevant</td>
          <td>layout</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
<script>
  const tbody = document.querySelector("#table-results tbody");

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll(".needs-validation");
  // Loop over them and prevent submission
  forms.forEach(function (form) {
    form.addEventListener(
      "submit",
      function (event) {
        if (!form.checkValidity()) {
          event.preventDefault();
          console.log("not valid");
          event.stopPropagation();
        } else {
          event.preventDefault();
          console.log("valid");
          let formData = new FormData();
          // On récupère la valeur du jeton CSRF
          let csrfTokenValue = document.querySelector(
            "[name=csrfmiddlewaretoken]"
          ).value;
          const request = new Request('{% url "predict:compute" %}', {
            method: "POST",
            body: formData,
            headers: { "X-CSRFToken": csrfTokenValue }, // On ajoute le token dans l'en-tête
          });

          // On exécute la requête
          fetch(request)
            .then((response) => response.json())
            .then((result) => {
              const newRow = tbody.insertRow(0);
              let newCell;
              let newText;

              for (let [key, value] of Object.entries(result)) {
                newCell = newRow.insertCell();
                if (key == "image_url") {
                  newCell.innerHTML = `image of ${value}`;
                } else {
                  newCell.innerHTML = value;
                }
              }
            });
        }
        form.classList.add("was-validated");
      },
      false
    );
  });
</script>
{% endblock %}
